---
export const prerender = true;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <title>Argentina Metals CMS</title>
    <script is:inline>
      (() => {
        const tokenPattern = /^#\/?(invite_token|confirmation_token|recovery_token|email_change_token|access_token)=/;
        if (tokenPattern.test(window.location.hash) && window.location.hash.startsWith("#/")) {
          const cleaned = "#" + window.location.hash.slice(2);
          history.replaceState(null, "", window.location.pathname + window.location.search + cleaned);
        }
      })();
    </script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <script>
      import CMS from "decap-cms-app";

      const identityTokenPattern = /(invite_token|confirmation_token|recovery_token|email_change_token)=/;
      const hasIdentityToken = identityTokenPattern.test(window.location.hash);

      let cmsStarted = false;

      const startCms = () => {
        if (!cmsStarted) {
          cmsStarted = true;
          CMS.init();
        }
      };

      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", () => {
          if (hasIdentityToken) {
            window.netlifyIdentity.open();
            return;
          }

          startCms();
        });

        window.netlifyIdentity.on("login", () => {
          window.location.replace("/admin/");
        });

        window.netlifyIdentity.on("signup", () => {
          window.location.replace("/admin/");
        });

        window.netlifyIdentity.on("confirm", () => {
          window.location.replace("/admin/");
        });

        window.netlifyIdentity.on("close", () => {
          if (!hasIdentityToken) {
            startCms();
          }
        });
      } else {
        startCms();
      }
    </script>
  </body>
</html>
